.container {
  padding: 0 2rem;
  max-width: max-content;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.title a {
  text-decoration: none;
  color: #38D9A9;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description2 {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 800px;
}

.acento {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  color: #38D9A9;
  letter-spacing: -0.025em;
}

.code {
  background: #101113;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #38D9A9;
  border-color: #38D9A9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card2 {
  margin: 1rem;
  padding: 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card2 h2 {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #38D9A9;
  border-color: #38D9A9;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  font-weight: 1000;
}

.intro {
  margin: 0.5rem;
  font-size: 1.25rem;
  max-width: 500px;
  align-items: center
  ;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .title a {
    background: linear-gradient(180deg, #0070f3 0%, #0153af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.sidebar {
  display: flex;
}

.sidebar__sidebar {
  width: 25%;
  padding-left: 1rem;
}

.sidebar__main {
  /* Take the remaining width */
  flex: 1;
  background-color: #000000;

  /* Make it scrollable */
  overflow: auto;
}

.videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.cardmodules {
  margin: 1rem;
  display: table-cell;
  text-align: left;
  color: inherit;
  padding: 0.5rem;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 10px;
}

.cardmodules:hover,
.cardmodules:focus,
.cardmodules:active {
  color: #38D9A9;
  border-color: #38D9A9;
}

.cardmodules h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardmodules p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25;
}

.containerfull {
  padding: none;
  flex-grow: initial;
  border: 0px solid #38D9A9;
}

.containerfull:hover,
.containerfull:focus,
.containerfull:active {
  color: #38D9A9;
  background-color: #000000;
}
