.sidebar {
  display: flex;
}

.sidebar__sidebar {
  width: 25%;
  
}

.sidebar__main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  overflow: auto;
}

.playerWrapper {
  max-width: 800px;
  margin: 5 auto;
}