html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #1A1B1E;
  background-image: url(../public/city3d.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration-color: #38D9A9;
  max-width: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle; 
}

* {
  box-sizing: border-box;
  outline: 0.0px solid #38D9A9;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-container {
  width: max-content;
  height: max-content;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 1.5rem;
  background-color: transparent;
}

/* primary header */

.logo {
  margin: 1rem;
  font-weight: bolder;
}

.primary-header {
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 0;
  margin: 1rem;
  margin-left: 15rem;
  margin-right: 10rem;
  background-color: rgba(0, 0, 0, 0.377);
  backdrop-filter: blur(5px);
  border-radius: 10px;

}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0.1rem;
  margin: 0.1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  background: transparent;
  overflow: inherit;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation li {
  background: none;
  border-radius: 4px;
  margin: 0;
  padding: 0.1rem;
  text-align: left;
}

.primary-navigation li:hover {
  background: none;
  border-radius: 4px;
}

.button-accent-pro {
  margin: 2px;
  padding: 4px;
  text-align: auto;
  font-size: inherit;
  color: #38D9A9;
  text-decoration: none;
  border: 1px solid #38D9A9;
  border-radius: 4px;
  background-color: inherit;
  line-break: strict;
  white-space: nowrap;
  overflow: hidden;
}

.button-accent-normal {
  margin: 2px;
  padding: 4px;
  text-align: auto;
  font-size: inherit;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: inherit;
  line-break: strict;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 3em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background: #38D9A9;
  }
  
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: transparent;
    text-decoration-color: #38D9A9;
  }
}

.avatar {
  vertical-align: middle;
  width: max-content;
  height: max-content;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  margin: 1rem;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  overflow: visible;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: max-content;
  height: max-content;
  border-radius: 0px;
  border-color: none;
  overflow: hidden;
  position: relative;
  display: flex;
  margin: auto;
}

.video-container iframe {
  border: none;
}

hr {
  display: block;
  width:25%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: white;
}